.value-input {
	width: 100%;

	background-color: var(--input-background-color);
	padding: 0.3rem 0.5rem;

	display: grid;
	grid-template-columns: auto 1fr;

	&__span {
		width: 100%;

		font-size: 0.8rem;
	}

	&__input-itself {
		width: 100%;

		background-color: transparent;

		border: 0;
		outline: none;

		text-align: right;
		font-size: 0.8rem;
	}
}
