.button {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	outline: none;

	border: 1px solid var(--color-btn-border);
	background-color: var(--color-btn-background);

	padding: 0.3rem;
	border-radius: 0.25rem;

	box-shadow: 0.1px 0.1px 1px hsla(0, 0%, 0%, 0.3);

	transition: border 0.2s, background-color 0.2s;

	pointer-events: all;

	&:hover {
		border: 1px solid var(--color-btn-border-hover);
		background-color: var(--color-btn-background-hover);
	}

	&:active {
		border: 1px solid var(--color-btn-border-hover);
		background-color: var(--color-btn-background);
	}

	&__span {
	}
}
