.input-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	padding: 0.5rem;

	gap: 0.5rem;

	background-color: var(--interface-background-color-primary);

	border-radius: 0.25rem;

	pointer-events: all;

	&__title-span {
		width: 100%;
		font-size: 0.9rem;

		color: var(--color-text-pale);
	}

	&__items {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		gap: 0.5rem;
	}
}
