@use "/public/fonts/fonts.scss";

.roboto-light {
	font-family: "Roboto";
	font-weight: 300;
}

.roboto-regular {
	font-family: "Roboto";
	font-weight: 400;
}

.roboto-medium {
	font-family: "Roboto";
	font-weight: 500;
}

.roboto-bold {
	font-family: "Roboto";
	font-weight: 700;
}
