@use "./fonts.scss";

:root {
	--font-size-root: 16px;
}

:root {
	--color-text-default: #f6f6f6;
	--color-text-pale: #c7c7c7;

	--viewport-background-color: #3f3f3f;
	--interface-background-color-primary: #3d3d3d;
	--geometry-fill-color: #a5a7a8;

	--color-btn-background: #545454;
	--color-btn-border: #3d3d3d;
	--color-btn-background-hover: #656565;
	--color-btn-border-hover: #464646;

	--input-background-color: #545454;
}

:root {
	color-scheme: dark;

	color: var(--color-text-default);
	font-size: var(--font-size-root);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
}
